@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

:root{
    --primary-color: #E85818;
    --secondary-color: ;
    --bg-theme: #fafafa;
    --blue-color: #38caf7;
    --primary-light-color: #e85618cb;
    --light-color: #b3b3b3;
    --theme: white;
    --black: #000;
    --black-light: #3a3a3a;
}



.dark{
    --secondary-color: ;
    --bg-theme: #1d1d1d;
    --theme: black;
    --light-color: #dddcdc;
    --black: #b3b3b3;
    --black-light: #dddcdc;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
}


li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
}


body{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--bg-theme);
    transition: 0.3s;
}

body .container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 19% auto;
}


body .container aside{
    background-color: var(--theme);
    display: grid;
    grid-template-rows: 30% 55% 15%;
    overflow: hidden;
}

.container aside .profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.container aside .profil h2{
    font-size: 1.1em;
    color: var(--black);
}

.container aside .profil p{
    font-size: 0.87em;
    color: var(--light-color);
}



.container aside .profil .image{
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background-image: url('/assets/img/jj.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.container aside .profil .image::before{
    position: absolute;
    content: '';
    top: 7px;
    right: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid #eee;
    background-color: red;
}


.container aside .aside-nav{
    position: relative;

}


.container aside .aside-nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.container aside .aside-nav .glisse{
    position: absolute;
    top: 0;
    left: 40px;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--bg-theme);
    z-index: 1;
    transition:  transform 0.5s;
}

.container aside .aside-nav .glisse::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    background-color: transparent;
    top: -35px;
    right: 40px;
    border-radius: 50%;
    box-shadow: 20px 20px 0px var(--bg-theme);
    z-index: -1;
}

.container aside .aside-nav .glisse::after{
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    background-color: transparent;
    bottom: -35px;
    right: 40px;
    border-radius: 50%;
    box-shadow: 20px 20px 0px var(--bg-theme);
    z-index: -1;
    transform: rotate(-90deg);
}

.container aside .aside-nav ul li{
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 1px;
    z-index: 2;
    padding-left: 15px;
    cursor: pointer;
    
}


.container aside .aside-nav ul li.active a{
    color: var(--primary-color);
}

.container aside .aside-nav ul li a{
    color: var(--light-color);
}

.container aside .theme{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}


.container aside .theme .btn-theme{
    position: relative;
    width: 40px;
    height: 22px;
    background-color: aliceblue;
    border-radius: 5px;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
}

.container aside .theme .btn-theme::before{
    position: absolute;
    content: '';
    width: 6px;
    height: 15px;
    border-radius: 4px;
    background-color: white;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.container aside .theme .btn-theme.clicked{
    background-color: var(--primary-color);
}


.container aside .theme span{
    font-size: 1.05em;
    font-weight: bold;
    color: var(--light-color);
}


.container aside .theme .btn-theme.clicked::before{
    transform: translateX(25px);
}


.container main{
    width: 100%;
    padding: 50px 70px;
    position: relative;
}

.container main .header, .container main .hero-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}


.container main .header h1{
    font-weight: bold;
    color: var(--primary-color);
}


.container main .header form{
    width: max-content;
    height: 45px;
    position: relative;
}

.container main .header form input{
    width: 450px;
    height: calc(100% - 3px);
    padding: 0 15px;
    border-radius: 15px;
    border: none;
    background: white;
    outline: none;
}

.container main .header form button{
    position: absolute;
    top: 50%;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 1.05em;
    color: white;
    border:  none;
    background-color: var(--primary-light-color);
    transform: translateY(-51%);
    border-radius: 50%;
}

.container main .header .members{
    width: 250px;
    display: flex;
    justify-content: flex-end;
}


.container main .header .members span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(114, 114, 114);
    display: inline-block;
    margin-left: -12px;
    border: 1px solid red;
}


.container main .header .members span:last-child{
    background-color: var(--black-light);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-theme);
    font-size: 1.3em;
}

.container main .hero-navigation{
    width: 100%;
    position: relative;
}


.container main .hero-navigation ul{
    width: 55%;
    display: flex;
    justify-content: space-between;
}


.container main .hero-navigation ul li{
    position: relative;
    font-size: 1.05em;
    font-weight: bold;
    color: var(--black);
}

.container main .hero-navigation ul li::before{
    position: absolute;
    content: '';
    left: 50%;
    width: 130%;
    height: 3px;
    border-radius: 2px;
    background-color: #E85818;
    bottom: -7px;
    transform: translateX(-50%);
    display: none;
}


.container main .hero-navigation ul li.active::before{
    display: block;
}

/* .container main .hero-navigation ul li.active{
    color: var(--primary-color);
} */

.container main .hero-navigation .filter{
    position: relative;
    width: 220px;
    height: 45px;
    border-radius: 15px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
    cursor: pointer;
    
}


.container main .hero-navigation .filter span{
    z-index: 2;
    font-weight: 700;
    color: rgb(199, 199, 199);
}

.container main .hero-navigation .filter span:nth-child(1){
    color: white;
    font-weight: 200;
}

.container main .hero-navigation .filter.clicked span{
    z-index: 2;
    font-weight: 700;
    color: rgb(199, 199, 199);
}

.container main .hero-navigation .filter.clicked span:nth-child(2){
    color: white;
    font-weight: 200;
}



.container main .hero-navigation .filter::before{
    position: absolute;
    content: '';
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--primary-color);
    z-index: 1;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.container main .hero-navigation .filter.clicked::before{
    transform: translateX(100%);
}



.container main .main-content{
    position: relative;
    height: 65vh;
    padding-top: 45px;
    overflow: auto;
}

.container main .main-content .section{
    position: absolute;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    overflow-y: auto;
    opacity: 0;
}

.container main .main-content .section.active,
.container main .main-content .section.inactive{
    opacity: 1;
    
}


.container main .main-content .section .content-child{
    transition:  0.3s ease-in;
    transform-style: preserve-3d;
    transform: rotate(0) rotateY(-72deg);
    opacity: 0;
}

.container main .main-content .section.inactive .content-child{
    transform: rotateX(0) rotateY(-72deg);
    opacity: 0;
} 


.container main .main-content .section.active .content-child{
    transition-delay: 0.5s;
    transform: rotateX(0) rotateY(0deg);
    opacity: 1;
} 


.container main .main-content .section .content-child{
    background-color: rgba(53, 53, 53, 0.171);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    height: 190px;
}


.container main .main-content .section:nth-child(1) .content-child{
    background-color: rgba(82, 41, 41, 0.562);
}


.container main .main-content .section:nth-child(2) .content-child{
    background-color: rgba(198, 233, 0, 0.562);
}

.container main .main-content .section:nth-child(3) .content-child{
    background-color: rgba(236, 0, 0, 0.562);
}


.container main .main-content .section:nth-child(4) .content-child{
    background-color: rgba(247, 91, 226, 0.562);
}